{% extends "base.html" %}

{% block title %}Products{% endblock %}

{% block content %}
  <div class="row">
    {% for product in products %}
      <div class="col-xl-4">
        <div class="card shadow mb-4">
          <div class="card-body">
            <h5 class="card-title">{{ product.name|truncatewords:2 }}</h5>
            <small>Rp. {{ product.price }}</small>
          </div>
          <div class="card-footer">
            <form method="post" action="{% url 'ecommerce:cart_create' product.pk %}" class="form-inline">
              {% csrf_token %}
              <button class="btn btn-sm btn-primary" type="submit">Add to cart</button>
            </form>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="row mt-3">
    <div class="col-xl-12 d-flex justify-content-center">
      {% include 'pagination.html' with page=products %}
    </div>
  </div>
{% endblock %}